// FRAMEWORK
// Extendable classes for commonly used styling rules for different elements.

// BASIC
%clearfix:after {
  display: table;
  clear: both;
  content: '';
}

%spritesheet {
  background-image: url(../images/spritesheet.png);
}

%pseudo-block {
  position: absolute;
  display: block;
  content: '';
}

// POSITIONING
%absolute {
  position: absolute;
}

%relative {
  position: relative;
}

%static {
  position: static;
}

%stretch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// FLOAT POSITIONS
%left {
  float: left;
}

%right {
  float: right;
}

// DISPLAY METHODS
%block {
  display: block;
}

%inline {
  display: inline;
}

%inline-block {
  display: inline-block;
}

%hidden {
  display: none;
}

// VERTICAL ALIGNMENTS
%align-top {
  vertical-align: top;
}

%align-middle {
  vertical-align: middle;
}

%align-bottom {
  vertical-align: bottom;
}

// FONT WEIGHTS & STYLES
%align-text-left {
  text-align: left;
}

%align-text-center {
  text-align: center;
}

%align-text-right {
  text-align: right;
}

%weight-normal {
  font-weight: 400;
}

%weight-bold {
  font-weight: 700;
}

%weight-italic {
  font-style: italic;
}

// REUASBLE ELEMENTS
%button {
  margin: 0;
  padding: 0;
  background-color: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }
}

%inherit-base-font {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  &:focus {
    outline: none;
  }
}

%input-ios-reset {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
