body .edy-popover {
  z-index: $zindex-settings-popover + 1 !important;
}

.editmode .editor_default-container {
  position: relative;

  .editor_default-btn {
    opacity: 0 !important;
    top: -34px!important;
    left: -1px!important;
    position: absolute !important;
    z-index: 10699 !important;
    @include transition(all 300ms);
  }

  &:hover,
  &.active {
    box-shadow: 0 0 0 1px $black;

    .editor_default-btn {
      opacity: 1 !important;
    }
  }

  .editor_default-btn.active {
    opacity: 1 !important;
  }
}

.content-item-box:hover {
  .image_settings {
    opacity: 1;
    pointer-events: all;
  }
}

.image_settings {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -20px;
  z-index: 1;
  opacity: 0;
  width: 100%;
  pointer-events: none;

  &-buttons {
    display: inline-flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    background: black;
    padding: 8px 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    color: white;
    align-items: center;

    .image_settings-button,
    .image_settings-remove,
    .image_settings-expand {
      width: 24px;
      height: 24px;

      &:hover {
        opacity: .7;
      }
    }

    .image_settings-change--image {
      &:hover {
        opacity: .7;
      }
    }

    .image_settings-button {
      background-image: url('../assets/ico-settings.svg');
    }

    .image_settings-expand {
      background-image: url('../assets/ico-expand.svg');
      width: 18px;
      height: 18px;
    }

    .image_settings-remove {
      background-image: url('../assets/ico-delete.svg');
    }
  }

  &-popover {
    opacity: 0;
    pointer-events: none;
    @include transition(opacity 300ms);
    background: white;
    padding: 16px;
    position: fixed;
    top: 48px;
    box-shadow: 0px 2px 10px rgba(0,0,0,.2);
    border-radius: 4px;

    &--arrow {
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 113px;
      transform: rotate(180deg);

      &:after {
        position: absolute;
        z-index: 56501;
        width: 0;
        height: 0;
        pointer-events: none;
        border: solid transparent;
        border-color: transparent;
        border-width: 16px;
        content: '';
        border-top-color: #fff;
        filter: drop-shadow(0 2px 1px rgba(0, 0, 0, .05));
      }
    }

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.settings_popover {
  opacity: 0;
  pointer-events: none;
  @include transition(opacity 300ms);
  background: white;
  padding: 16px;
  position: absolute;
  top: 48px;
  box-shadow: 0px 2px 10px rgba(0,0,0,.2);
  border-radius: 4px;

  &-arrow--up {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 128px;
    transform: rotate(180deg);

    &:after {
      position: absolute;
      z-index: 56501;
      width: 0;
      height: 0;
      pointer-events: none;
      border: solid transparent;
      border-color: transparent;
      border-width: 16px;
      content: '';
      border-top-color: #fff;
      filter: drop-shadow(0 2px 1px rgba(0, 0, 0, .05));
    }
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.form_field-cms {
  margin-bottom: 0;
  padding: 11px 16px;
  resize: none;
  min-height: auto;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 24px;
  transition: all .3s cubic-bezier(.1,.6,0,1);
  display: flex;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 4px;
  position: relative;

  &:hover {
    border-color: #ccc;
  }

  label {
    pointer-events: none;
    position: absolute;
    top: 16px;
    left: 9px;
    font-size: 14px;
    font-weight: inherit;
    white-space: nowrap;
    padding: 0 8px;
    background-color: transparent;
    line-height: 16px;
    color: #8d9091;
    transition: all .3s cubic-bezier(.1,.6,0,1);
  }

  input::-webkit-input-placeholder {
    color: transparent
  }

  &.with-input {
    label {
      top: -8px;
      font-size: 12px;
      font-weight: 600;
      background-color: #fff;
      color: #000;
    }
  }

  input {
    flex-grow: 1;
    background-color: #fff;
    outline: none;
    box-shadow: none;
    border: none;
    font: inherit;
  }

  label,
  input {
    color: black;
  }
}

