.site-search {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

  .search-input {
    @extend %input-ios-reset;
    @extend %inherit-base-font;
    width: 128px;
    padding: 4px 5px 3px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba($black, .53);
    border-radius: 3px;
  }

  .search-submit {
    position: relative;
    top: -1px;
  }
}
