.site-header {
  margin-bottom: 70px;

  .header-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .site-options {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .header-bottom {
    margin-top: 50px;
  }
}
