.site-footer {
  padding-top: 30px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba($color-black, .53);
  font-size: 14px;

  .voog-reference {
    color: rgba($color-black, 1);
    opacity: .55;

    &:hover {
      opacity: .8;
    }
  }
}
