$thumb-placeholder-padding: 42.5px;

.team-details-page {
  .member-title {
    color: rgba($orange,1);
  }

  .edy-element-thumb-catcher {
    width: 105px;
    min-height: 105px;

    .edy-element-thumb-empty {
      padding-top: $thumb-placeholder-padding;
      padding-bottom: $thumb-placeholder-padding;
      font-size: 10px;
    }
  }
}
