/* BLOG & BLOG ARTICLE */
// Styling rules for both - the blog listing view and the blog single article view
.post-intro-content {
  padding-bottom: 25px;
}
.post {
  @include hyphenate(true);

  .post-header {
  }

  .post-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.1;

    &, a {
      font-size: 50px;
      @include color($secondary-color, 1);

      .dark-background & {
        @include color($white, 1);
      }
    }

    a {
      &:hover {
        @include color($secondary-color, 1);
        opacity: .8;

        .dark-background & {
          @include color($white, 1);
        }
      }
    }

    @include query($mobile-1) {
      &, a {
        font-size: 30px;
      }
    }
  }

  .post-date {
    font-size: 14px;
    @include color($secondary-color, 1);

    .dark-background & {
      @include color($white, 1);
    }
  }

  .post-author {
    font-size: 12px;

    .dark-background & {
      @include color($white, 1);
      opacity: .8;
    }
  }

  .post-content {
    margin-top: 20px;

    .post-excerpt {
    }

    .post-body {
      margin-top: 20px;
    }
  }

  .post-footer {
  }

  .post-comments-count {
    a {
      font-size: 14px;
      @include color($blue-1, 1);

      .dark-background & {
        @include color($white, 1);
      }

      &:hover {
        @include color($blue-1, 1);
        opacity: .8;

        .dark-background & {
          @include color($white, 1);
        }
      }
    }
  }
}

.post-nav {
  margin-top: 50px;
}

.post-nav-inner {
  @media screen and (min-width: $mobile-1 + 1) {
    display: flex;
  }
}

.post-nav-link {
  position: relative;
  display: block;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  color: currentColor;
  text-decoration: none;

  &:hover {
    .post-nav-direction {
      opacity: 1;
    }

    .post-nav-title {
      opacity: 1;
    }
  }

  &:nth-child(2) {
    &::before {
      @media screen and (max-width: $mobile-1) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        border-top-color: currentColor;
        border-top-style: solid;
        border-top-width: 1px;
        content: '';
        opacity: .2;
      }
    }
  }

  @media screen and (max-width: $mobile-1) {
    text-align: center;
  }
}

.post-nav-link-older {
  @media screen and (min-width: $mobile-1 + 1) {
    padding-right: 20px;
  }
}

.post-nav-link-newer {
  @media screen and (min-width: $mobile-1 + 1) {
    padding-left: 20px;
    text-align: right;
  }
}

.post-nav-direction {
  font-size: 13px;
  letter-spacing: .2em;
  text-transform: uppercase;
  opacity: .3;
}

.post-nav-title {
  margin-top: 6px;
  font-size: 18px;
  opacity: .7;
}

// Style rules for the blog listing view only
.blog-page {
  .post {
    margin-bottom: 50px;
    padding-bottom: 50px;
    @include border(bottom, 1px, solid, $primary-color, 0.3);

    .post-excerpt {
      margin-bottom: 10px;
    }
  }

  .post-read-more-btn {
    display: inline-block;
    margin-bottom: 5px;
    color: #06b;
    text-decoration: underline;

    &:hover {
      opacity: .8;
    }
  }
}

// Style rules for the blog single article view only
.post-page {
  .post {
  }
}
