/* MENUS */
// Styling rules for the site's menus.

// Menu button. Only visible on smaller screens.
.menu-btn {
  display: none;

  @include query($tablet-2) {
    position: absolute;
    top: 28px;
    right: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    &.open {
      .menu-stripe {
        opacity: .47;
      }
    }

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    .menu-stripe {
      display: block;
      width: 23px;
      height: 4px;
      margin: 4px 0;
      @include bg($secondary-color, 1);
      opacity: .67;
      border-radius: 5px;

      &:first-child,
      &:last-child {
        margin: 0;
      }

      .dark-background & {
        @include bg($white, 1);
      }
    }
  }
}

// Wrapper for the CMS adminmode on-page buttons. For example "hidden menu items" or "add-page" buttons.
.edit-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.8;

  .menu-main & {
    margin-right: 20px;

    @include query($tablet-2) {
      margin-right: 0;
    }
  }
}

// General rules for all navigation menus.
.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  .menu-item {
    @include hyphenate(true);
  }

  .menu-link {
    display: block;
    @include color($blue-1);

    .dark-background & {
      @include query($tablet-2, 'min-width') {
        @include color($white, 1);
      }
    }

    &.untranslated {
      @include color($red, 0.5);
    }

    &:hover {
      @include color($primary-color, 1);

      .dark-background & {
        @include query($tablet-2, 'min-width') {
          @include color($white, 1);
        }
      }
    }
  }

  .with_arrow {
    display: flex;
    align-items: center;

    &::before {
      content: '';
      margin-right: 8px;
      border: solid;
      border-width: 0px 2px 2px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
  }
}

// Styling rules for the site's main menu.
.menu-main {
  padding: 6px 0;

  .menu {
    .menu-item {
      display: inline-block;
      margin-right: 20px;
      line-height: 1;

    }

    .menu-link {

      &.untranslated {

      }

      &:hover {

      }

      &.active {
        font-weight: 700;
        @include color($primary-color, 1);
        opacity: .8;

        .dark-background & {
          @include query($tablet-2, 'min-width') {
            @include color($white, 1);
            opacity: .5;
          }
        }
      }
    }
  }

  .menu-sub {
    display: none;
  }

  .menu-lang {
    display: none;
  }

  @include query($tablet-2) {
    display: none;

    &.expanded {
      position: absolute;
      top: 75px;
      right: 20px;
      z-index: 1;
      display: block;
      min-width: 350px;
      margin-bottom: 60px;
      padding: 0;
      text-align: left;
      @include bg($white);
      @include box-shadow(0, 0, 5px, rgba($black, 0.3));

      .menu {
        .menu-item {
          display: block;
          margin-right: 0;
          @include border(top, 1px, solid, $primary-color, 0.2);

          &:first-child {
            border-top: none;
          }

          .menu-link {
            display: block;
            padding: 10px 20px;
            font-size: 20px;

            &.active {
              @include bg($blue-2);
            }

            &:hover {
              @include bg($blue-2, 0.5);
            }
          }
        }

        .edit-btn {
          display: block;
          padding: 12px 25px;
          @include border(top, 1px, solid, $primary-color, 0.2);
        }
      }

      // Styling rules for the sub menu in the site's main menu. Only visible on smaller screens.
      .menu-sub {
        display: block;

        .menu {

          .menu-item {
            &:first-child {
              @include border(top, 1px, solid, $grey-2, 0.1);
            }
          }

          .menu-link {
            padding: 10px 40px;
            font-size: 14px;

            &.active {
              @include bg($black, 0.5);
            }
          }
        }
      }

      // Styling rules for the language menu in the site's main menu. Only visible on smaller screens.
      .menu-lang {
        display: block;
        margin-top: 0;
        @include border(top, 1px, solid, $primary-color, 0.2);

        .menu-item {
          .menu-link {
            position: relative;
            padding: 15px 20px 14px 50px;
            font-size: 12px;
            @include color($secondary-color, 1);

            &, &.active {
              &:hover {
                @include bg($grey-2, 0.1);
              }
            }

            &.active {
              @include color($primary-color, 1);
              background: none;
            }

            &.lang-flag:before,
            &.lang-flag:after {
              position: absolute;
              top: 13px;
              left: 20px;
              display: block;
              width: 21px;
              height: 15px;
            }

            &.lang-flag:before {
              @include bg($black);
              content: '';
            }

            &.lang-flag:after {
              opacity: 0.95;
              padding-top: 3px;
              padding-bottom: 3px;
              font-size: 9px;
              line-height: 1;
              text-align: center;
              text-transform: uppercase;
              box-sizing: border-box;
              background-repeat: no-repeat;

              .no-svg & {
                background-image: url('../images/ico-flags.png');
              }

              .svg & {
                background-image: url('../assets/ico-flags.svg');
              }
            }

            &.edy-menu-langadd {
              padding-left: 20px;
            }
          }

        }
      }
    }
  }

  @include query($mobile-1) {
    &.expanded {
      min-width: 100%;
      right: 0;
      left: 0;
      margin: 0 0 60px;
      @include border(top, 1px, solid, $primary-color, 0.2);
      @include border(bottom, 1px, solid, $primary-color, 0.2);
      @include no-box-shadow;
    }
  }
}

// Styling rules for the site's sub menu.
.menu-sub {
  .menu {

    .menu-item {
      display: inline-block;
      margin-right: 10px;
      font-size: 14px;

      &:first-child {
        margin-left: 0;
      }

      .menu-link {
        .dark-background & {
          @include color($white, 1);
        }

        &.untranslated {

        }

        &.active {
          font-weight: 700;
          @include color($primary-color, 1);
          opacity: .8;

          .dark-background & {
            @include query($tablet-2, 'min-width') {
              @include color($white, 1);
              opacity: .5;
            }
          }
        }

        &:hover {

        }
      }
    }
  }



  @include query($tablet-2) {
    margin-top: 30px;
  }
}

// Styling rules for the site's language menu.
.menu-lang {
  @extend %inline-block;

  .menu {
    vertical-align: middle;
  }

  .header-right & {
    .edit-btn {
      margin-left: 10px;
    }
  }


  @include query($tablet-1) {
    margin-top: 5px;
  }

  @include query($tablet-2) {
    display: block;

    .header-right & {
      display: none;
    }
  }
}

.lang-flag {
  &::after {
    background-position: 0 -75px;
    content: attr(data-lang-code);
  }
}

/// Language flag icons positioning in the spritemap.
$flags:
  (sq, 0 0), // Albanian (Albania)
  (hy, -21px 0), // Armenian (Armenia)
  (bn, -42px 0), // Bengali (Bangladesh)
  (bg, -84px 0), // Bulgarian (Bulgaria)
  (zh, -105px 0), // Chinese (China)
  (hr, -126px 0), // Croatian (Croatia)
  (da, -147px 0), // Danish (Denmark)
  (cs, -168px 0), // Czech (Czech Republic)
  (et, -189px 0), // Estonian (Estonia)

  (fi, 0 -15px), // Finnish (Finland)
  (fr, -21px -15px), // French (France)
  (ka, -42px -15px), // Georgian (Georgia)
  (de, -63px -15px), // German (Germany)
  (el, -84px -15px), // Greek (Greece)
  (hu, -105px -15px), // Hungarian (Hungary)
  (is, -126px -15px), // Icelandic (Iceland)
  (hi, -147px -15px), // Hindi (India)
  (id, -168px -15px), // Indonesian (Indonesia)
  (fa, -189px -15px), // Iranian (Iran)

  (he, 0 -30px), // Hebrew (Israel)
  (it, -21px -30px), // Italian (Italy)
  (ja, -42px -30px), // Japanese (Japan)
  (ko, -63px -30px), // Korean (Korea, South)
  (lv, -84px -30px), // Latvian (Latvia)
  (lt, -105px -30px), // Lithuanian (Lithuania)
  (ms, -126px -30px), // Malaysian (Malaysia)
  (nl, -147px -30px), // Dutch (Netherlands)
  (no, -168px -30px), // Norwegian (Norway)
  (ur, -189px -30px), // Urdu (Pakistan)

  (fil, 0 -45px), // Filipino (Philippines)
  (pl, -21px -45px), // Polish (Poland)
  (ro, -42px -45px), // Romanian (Romania)
  (ru, -63px -45px), // Russian (Russia)
  (ar, -84px -45px), // Arabic (Saudi Arabia)
  (sk, -105px -45px), // Slovakian (Slovakia)
  (sl, -126px -45px), // Slovenian (Slovenia)
  (es, -147px -45px), // Spanish (Spain)
  (sv, -168px -45px), // Swedish (Sweden)
  (tr, -189px -45px), // Turkish (Turkey)

  (uk, 0 -60px), // Ukrainian (Ukraine)
  (en, -21px -60px), // American English (United States of America)
  (pt, -84px -60px), // Portuguese (Portuguese Republic)
  (sr, -126px -60px), // Serbian (Republic of Serbia)
  (bn, -147px -60px), // Dutch, French, German (Kingdom of Belgium)
  (th, -189px -60px), // Thai (Thailand)
  (en_US, -21px -60px), // American English (United States of America)
  (en_GB, -63px -60px), // British English (Great Britian)
  (en_AU, -168px -60px), // Australian English (Commonwealth of Australia)
  (en_CA, -105px -60px), // Canadian English (Canada)
  (pt_BR, -63px 0), // Brazilian Portuguese (Brazil)
  (fr_IC, -42px -60px), // French (Ivory Coast)
  (fr_CA, -105px -60px), // Canadian French (Canada)
;

@each $flag, $pos in $flags {
  [data-lang-code^="#{$flag}"]:after {
    background-position: $pos;
    content: '';
  }
}

// Styling rules for the site's blog article tags menu. These rules affects both - the blog article listing view and the single blog article view.
// By default the tags menu shares the same style with the sub menu.
// To add custom styles remove the ".menu-sub" class from the "tags-blog" and "tags-post" components and write the custom style below.
.tags-title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
}

.menu-tags {
  display: inline-block;
  .menu {

    .menu-item {

      .menu-link {

        &:hover {

        }

        &.active {

        }
      }
    }
  }
}

// Product list menu
.menu-horizontal {

  &.menu-breadcrumbs {
    line-height: 16px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;

    .menu-item {
      display: inline-block;
      margin-right: 5px;
    }
  }
}
