.signout-btn-wrap {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 10000;
  white-space: nowrap;
  background-color: $color-toolbar-bg;
  height: 35px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0,0,0,0.5);

  &:hover {
    background-color: $color-silver-2;
  }

  .signout-link {
    position: relative;
    z-index: 10;
    display: block;
    padding: 0 10px;
  }

  .signout-name {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 400;
    font-family: $avenir;
    line-height: 37px;
    padding-left: 8px;
    color: rgba($color-common-gray, 0.8);

    &:hover {
      color: rgba($color-common-gray, 0.9);
    }
  }

  .signout-ico {
    height: 35px;
    display: inline-block;
    color: rgba($color-common-gray, 0.7)
  }

  .signout-svg {
    margin-top: 3px;
  }
}
