// VARIABLES
// Custom variables to use in every .scss files.
// Comment out the "_variables.scss" partial in the "main.scss" file if not used.

// General colors
$primary-color: #727272;
$secondary-color: #1b2124;
$third-color: #303132;

// Specific colors
$black: #000000;
$white: #ffffff;

$red: #cc0000;
$green: #60a740;
$blue-1: #0066bb;
$blue-2: #c7e5ff;

$grey-1: #787878;
$grey-2: #838586;
$grey-3: #fafafa;

$disabled: #dadada;

// Fonts
$primary-font: 'Avenir Next', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Segoe UI', sans-serif;

// Media queries
$tablet-1: 900px;
$tablet-2: 752px;
$tablet-3: 506px;

$mobile-1: 480px;
$mobile-2: 420px;

// Reusable values
// Define the reusable variables here.
// For example the width of several different elements, that allways have to be with the same height:
// $box-width: 400px;
