/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content {
  display: block;
  margin-top: 30px;

  .front-page & {
    margin-top: 40px;
  }

  @include query($tablet-2) {
    &, .front-page & {
      margin-top: 20px;
    }
  }
}

.content-header {
  .edy-partial-view {
    margin-top: -3px;
  }
}

.content-title,
.content-slogan {
  &.content-formatted {
    @include color($secondary-color);

    .dark-background & {
      @include color($white);
    } 

    h1 {
      font-size: 100px;
    }

    h2 {
      font-size: 50px;
    }

    h3 {
      font-size: 30px;
    }

    @include query($mobile-1) {
      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 20px;
      }
    }
  }
}

.content-title {
  &.content-formatted {
    line-height: 1;
    font-weight: 700;
    font-size: 100px;

    @include query($tablet-2) {
      display: none;
    }
  }
}

.content-slogan {
  margin-top: 5px;
  padding-bottom: 35px;

  &.content-formatted {
    font-weight: 400;
    font-size: 50px;
  }
}

.content-body {
  .front-page & {
    margin-top: 45px;

    @include query($tablet-2) {
      margin-top: 35px;
    }

    p {
      margin-top: 10px;
      font-size: 25px;
      line-height: 1.5;

      @include query($tablet-2) {
        font-size: 18px;
      }
    }
  }

  .common-page  & {
    margin-top: 35px;
  }
}
