/* GALLERY */
// Styling rules for the built-in image gallery thumbnails.  These rules affect the entire site's image galleries.
// NB! It is not recommended to set the width and height of the thumbail image (.edys-gallery-image) larger than 100px because the generated thumbnail's original size is 100x100px.
.edys-gallery-area {
  margin-top: 25px;

  &:first-child {
    margin-top: 0;
  }
}

.edys-gallery {
  .edys-gallery-item {
    display: inline-block;

    .edys-gallery-image {
      &.inactive {
        opacity: 0.6;
      }
    }

    &:hover {
      opacity: 1;
    }
  }
}
