/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header {
  padding-bottom: 30px;

  .no-flexbox & {
    display: table;
    vertical-align: top;
    width: 100%;
  }

  .flexbox & {
    @include flexbox;
    @include align-items(flex-start);
  }

  .header-left,
  .header-right {
    .no-flexbox & {
      display: table-cell;
    }
  }

  .header-left {
    width: 490px;

    .header-title {
      display: none;

      &, & a {
        font-size: 28px;
        font-weight: 700;
        @include color($primary-color);

        &:hover {
          @include color($primary-color, 0.8);
        }
      }
    }
  }

  .header-right {
    width: 470px;
    text-align: right;
  }

  .flexbox & {
    @include flexbox;
  }

  @include query($tablet-1) {
    .no-flexbox &,
    .flexbox & {
      width: 100%;
    }

    .header-left {
      width: 480px;
    }

    .header-right {
      width: 480px;
    }
  }

  @include query($tablet-2) {
    .header-left {
      width: 425px;

      .header-title {
        display: block;
      }
    }

    .header-right {
      width: 535px;
    }
  }

  @include query($tablet-3) {
    .no-flexbox &,
    .flexbox & {
      display: block;
      padding-bottom: 0;
    }

    .header-left {
      .no-flexbox &,
      .flexbox & {
        width: 100%;
      }

      .header-title {
        margin-right: 40px;
      }
    }

    .header-right {
      width: auto;
      text-align: left;
    }
  }
}
