/* MENUS */
// Styling rules for the site's menus.

// Menu button. Only visible on smaller screens.
.menu-btn {
  display: none;

  @include query($tablet-2) {
    position: absolute;
    top: 28px;
    right: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    &.open {
      .menu-stripe {
        @include bg($secondary-color, 0.47);
      }
    }

    &:focus {
      outline: none;
    }

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    .menu-stripe {
      display: block;
      width: 23px;
      height: 4px;
      margin: 4px 0;
      @include bg($secondary-color, 0.67);
      border-radius: 5px;

      &:first-child,
      &:last-child {
        margin: 0;
      }
    }
  }
}

// Wrapper for the CMS adminmode on-page buttons. For example "hidden menu items" or "add-page" buttons.
.edit-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 0.8;
  margin-right: 20px;

  @include query($tablet-2) {
    margin-right: 0;
  }
}

// General rules for all navigation menus.
.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  .menu-item {
    @include hyphenate(true);
  }

  .menu-link {
    display: block;
    @include color($blue-1);

    &.untranslated {
      @include color($red, 0.5);
    }

    &.active {
      font-weight: 700;
      @include color($primary-color, 0.8);
    }

    &:hover {
      @include color($primary-color);
    }
  }
}

// Styling rules for the site's main menu.
.menu-main {
  padding: 6px 0;

  .menu {
    .menu-item {
      display: inline-block;
      margin-right: 20px;
      line-height: 1;

    }

    .menu-link {

      &.untranslated {

      }

      &:hover {

      }

      &.active {
        font-weight: 700;
        @include color($primary-color, 0.8);
      }
    }
  }

  .menu-sub {
    display: none;
  }

  .menu-lang {
    display: none;
  }

  @include query($tablet-2) {
    display: none;

    &.expanded {
      position: absolute;
      top: 75px;
      right: 20px;
      z-index: 1;
      display: block;
      min-width: 350px;
      margin-bottom: 60px;
      padding: 0;
      text-align: left;
      @include bg($white);
      @include box-shadow(0, 0, 5px, rgba($black, 0.3));

      .menu {
        .menu-item {
          display: block;
          margin-right: 0;
          @include border(top, 1px, solid, $primary-color, 0.2);

          &:first-child {
            border-top: none;
          }

          .menu-link {
            display: block;
            padding: 10px 20px;
            font-size: 20px;

            &.active {
              @include bg($blue-2);
            }

            &:hover {
              @include bg($blue-2, 0.5);
            }
          }
        }

        .edit-btn {
          display: block;
          padding: 12px 25px;
          @include border(top, 1px, solid, $primary-color, 0.2);
        }
      }

      // Styling rules for the sub menu in the site's main menu. Only visible on smaller screens.
      .menu-sub {
        display: block;

        .menu {

          .menu-item {
            &:first-child {
              @include border(top, 1px, solid, $grey-2, 0.1);
            }
          }

          .menu-link {
            padding: 10px 40px;
            font-size: 14px;

            &.active {
              @include bg($black, 0.5);
            }
          }
        }
      }

      // Styling rules for the language menu in the site's main menu. Only visible on smaller screens.
      .menu-lang {
        display: block;
        margin-top: 0;
        @include border(top, 1px, solid, $primary-color, 0.2);

        .menu-item {
          .menu-link {
            position: relative;
            padding: 14px 20px 14px 50px;
            font-size: 12px;
            @include color($secondary-color);

            &, &.active {
              &:hover {
                @include bg($grey-2, 0.1);
              }
            }

            &.active {
              @include color($grey-2);
              background: none;
            }

            &.lang-flag:before,
            &.lang-flag:after {
              position: absolute;
              top: 14px;
              left: 20px;
              display: block;
              width: 20px;
              height: 13px;
              content: '';
            }

            &.lang-flag:before {
              @include bg($black);
            }

            &.lang-flag:after {
              opacity: 0.95;
              background-size: 200px;
              background-repeat: no-repeat;

              .no-svg & {
                background-image: url('../images/ico-flags.png');
              }

              .svg & {
                background-image: url('../assets/ico-flags.svg');
              }
            }

            &.edy-menu-langadd {
              padding-left: 20px;
            }
          }

        }
      }
    }
  }

  @include query($mobile-1) {
    &.expanded {
      min-width: 100%;
      right: 0;
      left: 0;
      margin: 0 0 60px;
      @include border(top, 1px, solid, $primary-color, 0.2);
      @include border(bottom, 1px, solid, $primary-color, 0.2);
      @include no-box-shadow;
    }
  }
}

// Styling rules for the site's sub menu.
.menu-sub {
  .menu {

    .menu-item {
      display: inline-block;
      margin-right: 10px;
      font-size: 14px;

      &:first-child {
        margin-left: 0;
      }

      .menu-link {
        &.untranslated {

        }

        &.active {

        }

        &:hover {

        }
      }
    }
  }

  @include query($tablet-2) {
    margin-top: 30px;
  }
}

// Styling rules for the site's language menu.
.menu-lang {
  @extend %inline-block;

  .menu {
    vertical-align: middle;
  }

  .header-right & {
    .edit-btn {
      margin-left: 10px;
    }
  }


  @include query($tablet-1) {
    margin-top: 5px;
  }

  @include query($tablet-2) {
    display: block;

    .header-right & {
      display: none;
    }
  }
}

// Language flag icons positioning in the spritemap.
$flags:
  // Albanian (Albania)
  (sq,   0        0),
  // Armenian (Armenia)
  (hy,  -20px     0),
  // Bengali (Bangladesh)
  (bn,  -40px     0),
  // Brazilian Portuguese (Brazil)
  (pt,  -60px     0),
  // Bulgarian (Bulgaria)
  (bg,  -80px     0),
  // Chinese (China)
  (zh, -100px     0),
  // Croatian (Croatia)
  (hr, -120px     0),
  // Danish (Denmark)
  (da, -140px     0),
  // Czech (Czech Republic)
  (cs, -160px     0),
  // Estonian (Estonia)
  (et, -180px     0),

  // Finnish (Finland)
  (fi,    0px -14px),
  // French (France)
  (fr,  -20px -14px),
  // Georgian (Georgia)
  (ka,  -40px -14px),
  // German (Germany)
  (de,  -60px -14px),
  // Greek (Greece)
  (el,  -80px -14px),
  // Hungarian (Hungary)
  (hu, -100px -14px),
  // Icelandic (Iceland)
  (is, -120px -14px),
  // Hindi (India)
  (hi, -140px -14px),
  // Indonesian (Indonesia)
  (id, -160px -14px),
  // Iranian (Iran)
  (fa, -180px -14px),

  // Hebrew (Israel)
  (he,    0px -28px),
  // Italian (Italy)
  (it,  -20px -28px),
  // Japanese (Japan)
  (ja,  -40px -28px),
  // Korean (Korea, South)
  (ko,  -60px -28px),
  // Latvian (Latvia)
  (lv,  -80px -28px),
  // Lithuanian (Lithuania)
  (lt, -100px -28px),
  // Malaysian (Malaysia)
  (ms, -120px -28px),
  // Dutch (Netherlands)
  (nl, -140px -28px),
  // Norwegian (Norway)
  (no, -160px -28px),
  // Urdu (Pakistan)
  (ur, -180px -28px),

  // Filipino (Philippines)
  (fil,   0px -42px),
  // Polish (Poland)
  (pl,  -20px -42px),
  // Romanian (Romania)
  (ro,  -40px -42px),
  // Russian (Russia)
  (ru,  -60px -42px),
  // Arabic (Saudi Arabia)
  (ar,  -80px -42px),
  // Slovakian (Slovakia)
  (sk, -100px -42px),
  // Slovenian (Slovenia)
  (sl, -120px -42px),
  // Spanish (Spain)
  (es, -140px -42px),
  // Swedish (Sweden)
  (sv, -160px -42px),
  // Turkish (Turkey)
  (tr, -180px -42px),

  // Ukrainian (Ukraine)
  (uk,    0px -56px),
  // American English (United States of Ameria)
  (en,  -20px -56px)
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after { background-position: $pos; }
}

// Styling rules for the site's blog article tags menu. These rules affects both - the blog article listing view and the single blog article view.
// By default the tags menu shares the same style with the sub menu.
// To add custom styles remove the ".menu-sub" class from the "tags-blog" and "tags-post" components and write the custom style below.
.tags-title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
}

.menu-tags {
  display: inline-block;
  .menu {

    .menu-item {

      .menu-link {

        &:hover {

        }

        &.active {

        }
      }
    }
  }
}
