/* MAIN STYLESHEET */
// Uncomment the partials you want to use in your template and comment out those
// that you don't need.

// MODULES
@import '../../bower_components/bourbon/dist/bourbon';
@import 'modules/_mixins';
@import 'modules/_variables';

// GENERAL
@import 'general/_fonts';
@import 'general/_base';
@import 'general/_framework';
@import 'general/_states';
@import 'general/_site-container';

// COMPONENTS
@import 'components/_site-header';
// @import 'components/_site-sidebar';
@import 'components/_site-footer';
@import 'components/_site-search';
@import 'components/_navigation-menus';
@import 'components/_article-comments';
@import 'components/_page-content';

// LAYOUTS
@import 'layouts/_front-page';
@import 'layouts/_common-page';
@import 'layouts/_blog-and-news';
@import 'layouts/_blog-article';

// CONTENT AREAS
@import 'content/_text';
@import 'content/_gallery';
@import 'content/_form';
// @import 'content/_video';
// @import 'content/_map';
// @import 'content/_custom';
