/* BLOG & BLOG ARTICLE */
.post {
  margin-top: 50px;
  padding-bottom: 50px;
  @include border(bottom, 1px, solid, $primary-color, 0.3);

  .post-header {

    .post-title {
      margin-bottom: 0;
      line-height: 1.1;

      a {
        font-size: 50px;
        @include color($secondary-color);
      }
    }

    .post-date {
      font-size: 14px;
      @include color($secondary-color);
    }

  }

  .post-content {
    margin-top: 20px;

    .post-excerpt {
    }

    .post-content {
    }
  }

  .post-footer {
    .post-author {
      font-size: 12px;
    }
  }
}
