/* BLOG & BLOG ARTICLE */
// Styling rules for both - the blog listing view and the blog single article view
.post {
  .post-header {
  }

  .post-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.1;

    &, a {
      font-size: 50px;
      @include color($secondary-color);
    }

    a {
      &:hover {
        @include color($secondary-color, 0.8);
      }
    }

    @include query($mobile-1) {
      &, a {
        font-size: 30px;
      }
    }
  }

  .post-date {
    font-size: 14px;
    @include color($secondary-color);
  }

  .post-author {
    font-size: 12px;
  }

  .post-content {
    margin-top: 20px;

    .post-excerpt {
    }

    .post-body {
      margin-top: 20px;
    }
  }

  .post-footer {
  }

  .post-comments-count {
    a {
      font-size: 14px;
      @include color($blue-1);

      &:hover {
        @include color($blue-1, 0.8);
      }
    }
  }
}

// Style rules for the blog listing view only
.blog-page {
  .post {
    margin-bottom: 50px;
    padding-bottom: 50px;
    @include border(bottom, 1px, solid, $primary-color, 0.3);
  }
}

// Style rules for the blog single article view only
.post-page {
  .post {
  }
}
