/* COMMENTS */
// Styling rules for the blog article single article comments area.
// Comment form is styled using the form fields styles located in the "_forms.scss" partial.
.comments {
  margin-top: 50px;

  .comment-title,
  .comment-block,
  .comment-form {
    margin-top: 25px;
  }
}
