
// Styling rules for the site's editable content areas.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms, image galleries and tables styling rules are located in the separate partials: "_forms.scss", "_gallery.scss" and "_tables.scss".
.content-formatted {
  @extend %clearfix;
  word-wrap: break-word;

  // Resets the bottom margin for all elements and top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, code, img, table form {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Styling rules for the editable content area headings.
  h1, h2, h3, h4, h5, h6 {
    @include color($secondary-color);
    word-wrap: break-word;
  }

  h1 {
    margin-top: 40px;
    font-size: 50px;
    line-height: 1;
  }

  h2 {
    margin-top: 15px;
    font-size: 30px;
  }

  h3, h4, h5, h6 {
    margin-top: 20px;
    font-size: 20px;
  }

  // Styling rules for the editable content area paragraphs, lists and links.
  p {
    margin-top: 20px;
  }

  ul {
    li {
    }
  }

  ol {
    li {
    }
  }

  a {
    @include color($blue-1);
    &:hover {
      @include color($blue-1, 0.8);
    }
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  img, iframe {
    max-width: 100%;
  }

  img {
    height: auto;
  }

  pre, code {
    margin-top: 25px;
  }

  pre {
    margin-top: 10px;
    margin-bottom: 0;
    overflow: auto;
    white-space: nowrap;

    &, code {
      padding: 10px;
      font-size: 14px;
      @include bg($grey-3);
    }

    code {
      display: block;
      margin-top: 0;
      padding: 0;
    }
  }

  /* TABLES */
  // Styling rules for the site's editable content area tables.
  // NB! Works only if editable content-area - {% content %} -  is wrapped into the element that has the "content-formatted" class.

  // Container around editable content-area table.
  .table-container {
    margin-top: 20px;
  }

  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  // Adds dashed border to indicate that the table is too wide and can be scrolled horizontally.
  .horizontal-scroll {
    @include border(left, 1px, dashed, $third-color);
    @include border(right, 1px, dashed, $third-color);
  }

  table {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    border-collapse: collapse;

    td {
      padding: 10px;
      @include border(top, 1px, solid, $third-color);
      @include border(bottom, 1px, solid, $third-color);
    }
  }

  .edy-texteditor-view {
    min-height: 32px;
  }

  .edy-partial-view {
    margin-top: 25px;
  }
}
