/* CONTENT */
// Styling rules for the site's main content area. These rules affect the entire site.
.content {
  margin-top: 70px;

  @include query($tablet-2) {
    margin-top: 20px;
  }
}

.content-title,
.content-header {
  &.content-formatted {
    font-weight: 700;
    line-height: 1;
    @include color($secondary-color);

    .front-page &,
    h1 {
      font-size: 100px;

      @include query($mobile-1) {
        font-size: 50px
      }
    }

    .common-page &,
    .blog-page &,
    .post-page &,
    h2 {
      font-size: 50px;

      @include query($mobile-1) {
        font-size: 30px;
      }
    }

    h3 {
      font-size: 30px;
    }

    .edy-texteditor-view {
      min-height: 18px;
    }
  }

  .front-page & {
    h2 {
      font-weight: 400;
    }
  }
}

.content-body {
  .front-page & {
    margin-top: 90px;

    @include query($tablet-2) {
      margin-top: 35px;
    }

    p {
      margin-top: 10px;
      font-size: 25px;
      line-height: 1.5;

      @include query($tablet-2) {
        font-size: 18px;
      }
    }
  }

  .common-page  & {
    margin-top: 35px;
  }
}
