/* FONTS */
// Custom fonts declarations.

// NB! Custom fonts are not the part of the current template by default, but they can be easily included:
// 1. Add webfonts to the /assets/ folder.
// 2. Replace the "Custom Font Name" with the desired font-family name.
// 3. Replace the "custom-font-file-name" with the fonts file names (without the file extension).
// 4. Add more fonts with the same pattern if needed.
// 5. Uncomment the "_fonts.scss" partial in the "main.scss" file.
@include font-face('Custom Font name', '../assets/custom-font-file-name', 400);
@include font-face('Custom Font name', '../assets/custom-font-file-name', 700);
@include font-face('Custom Font name', '../assets/custom-font-file-name', 400, italic);
