/* FOOTER */
// Styling rules for the site's footer. These rules affect the entire site.
.footer {
  margin-top: 50px;

  @include query($tablet-2) {
    margin-top: 35px;
  }

  // Styling rules for the footer's editable content area.
  & .content-formatted {
    font-size: 14px;
    line-height: 1.5;

    .edy-texteditor-view {
      min-height: 18px;
    }
  }

  .voog-reference {
    margin-top: 30px;
    text-align: center;

    a {
      display: inline-block;
      padding: 7px 9px;
      font-size: 10px;
      @include color($secondary-color, 0.75);
      line-height: 1;
      @include bg($white);
      @include border(all,1px,solid,$black, 0.1);

      &:hover {
        @include color($secondary-color, 0.75);
        @include border(all, 1px, solid, $black, 0.75);
      }
    }
  }
}
