/* FOOTER */
// Styling rules for the site's footer. These rules affect the entire site.
.footer {
  margin-top: 50px;
  font-size: 14px;

  .voog-reference {
    display: none;
    margin-top: 15px;
    text-align: center;

    a {
      @extend %inline-block;
      padding: 7px 9px;
      font-family: "Avenir Next";
      font-size: 10px;
      @include color($secondary-color, 0.75);
      line-height: 1;
      @include bg($white);
      @include border(all,1px,solid,$black, 0.1);

      &:hover {
        @include color($secondary-color, 0.75);
        @include border(all,1px,solid,$black, 0.75);
      }
    }
  }

  @include query($tablet-2) {
    margin-top: 35px;
  }

}
