/* FORMS */
// Styling rules for the site's form-fields area. These rules affect the entire site's form-fields that are in the editable content area.
.content-formatted {
  form {
    max-width: 100%;
    margin-top: 20px;
  }

  .form_field,
  .edy-fe-label {
    font-size: 14px;
  }

  .form_field {
    margin-top: 20px;
  }

  .form_field_required {
    :after {
      content: ' *';
    }
  }

  .form_field label,
  .edy-fe-label {
    display: block;
    font-weight: 700;
    font-family: inherit;
    line-height: 1.3;
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file,
  .form_submit input {
    font-family: inherit;
    font-size: 14px;
  }
  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file {
    max-width: 100%;
  }
  .form_field_textfield,
  .form_field_textarea {
    width: 280px;
    margin: 0;
    padding: 7px;
    @include border(all, 1px, solid, $grey-1);
    border-radius: 3px;
    @include box-sizing(border-box);

    @include query($mobile-2) {
      width: 100%;
    }
  }
  .form_field_textarea {
    min-height: 98px;
  }
  .form_field_select {
  }

  .form_field_size_medium {
    width: 420px;

    @include query($mobile-2) {
      width: 100%;
    }
  }
  .form_field_size_large {
    width: 580px;
  }

  .form_submit {
    margin-top: 10px;

    input {
    }
  }

  .form_error,
  .form_field_error {
    @include color($red);
  }

  .form_field_with_errors {
    .form_field_textfield,
    .form_field_textarea {
      @include border(all, 1px, solid, $red);
    }
  }

  .form_notice {
    @include color($green);
  }
}
