/* FRONT PAGE */
// Styling rules for the front page view.
.front-page {
  .content-header {
    h2 {
      font-weight: 400;
    }
  }
  .content-body {
    margin-top: 90px;

    @include query($tablet-2) {
      margin-top: 35px;
    }

    p {
      margin-top: 10px;
      font-size: 25px;
      line-height: 1.5;

      @include query($tablet-2) {
        font-size: 18px;
      }
    }
  }
}
