/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
  @include color($primary-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

// Pseudo classes for declaring commonly used styling rules for different elements.
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%inline-block {
  display: inline-block;
}

// Styling rules for the independent elements that can be located everywhere in the DOM and always have the same styling rules.
.bgpicker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.background-color {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

// Styling rules for the main container that affects the entire site's other elements.
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
  @include bg($white);

  @include query($tablet-2) {
    padding: 20px
  }

  a {
    text-decoration: none;

    img {
      border: none;
    }
  }
}

// Styling rules for the site's editable content areas.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms, image galleries and tables styling rules are located in the separate partials: "_forms.scss", "_gallery.scss" and "_tables.scss".
.content-formatted {
  @extend %clearfix;
  // Resets the top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  img,
  pre,
  code,
  table {
    &:first-child {
      margin-top: 0;
    }
  }

  // Resets the bottom margin for all first elements in the editable content-area (to prevent unwanted white-space at the end of a content-area).
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul {
    margin-bottom: 0;
  }

  // Styling rules for the editable content area headings.
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include color($secondary-color);
    word-wrap: break-word;
  }

  h1 {
    margin-top: 40px;
    font-size: 50px;
    line-height: 1;
  }

  h2 {
    margin-top: 15px;
    font-size: 30px;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 20px;
    font-size: 25px;
  }

  // Styling rules for the editable content area paragraphs, lists and links.
  p {
    margin-top: 20px;
  }

  ul {
    li {
    }
  }

  ol {
    li {
    }
  }

  a {
    @include color($blue);
    &:hover {
      @include color($blue, 0.8);
    }
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  img,
  iframe {
    max-width: 100%;
  }

  img {
    height: auto;
  }

  pre,
  code,
  .edy-texteditor-container {
    margin-top: 25px;
  }

  pre,
  code {
    display: block;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    font-size: 14px;
    @include bg($grey-3);
  }

  // Minimal height of the editable content area (to avoid content area visual "jumping" when content-area is focused).
  .edy-texteditor-view {
    min-height: 32px;
  }
}
