/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  @include color($primary-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
 // Layout specific body classes
 .front-page {

 }

 .common-page {

 }

 .blog-page,
 .post-page {

 }

 .blog-page {

 }

 .post-page {

 }

// Pseudo classes for declaring commonly used styling rules for different elements.
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%stretch {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%inline-block {
  display: inline-block;
}

// Styling rules for the independent elements that can be located everywhere in the DOM and always have the same styling rules.
.bgpicker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.background-color {
  @extend %stretch;
  position: fixed;
  z-index: -2;
}

// Styling rules for the main container that affects the entire site's other elements.
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
  @include bg($white);

  @include query($tablet-2) {
    padding: 20px
  }

  a {
    text-decoration: none;

    img {
      border: none;
    }
  }
}

// Styling rules for the site's editable content areas.
// NB! Each editable content-area - {% content %} - should be wrapped in the element that has the "content-formatted" class.
// NB! Contact forms, image galleries and tables styling rules are located in the separate partials: "_forms.scss", "_gallery.scss" and "_tables.scss".
.content-formatted {
  @extend %clearfix;
  word-wrap: break-word;

  // Resets the bottom margin for all elements and top margin for all first elements in the editable content-area (to prevent unwanted white-space at the beginning of a content-area).
  h1, h2, h3, h4, h5, h6, p, ul, ol, pre, code, img, table form {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  // Styling rules for the editable content area headings.
  h1, h2, h3, h4, h5, h6 {
    @include color($secondary-color);
    word-wrap: break-word;
  }

  h1 {
    margin-top: 40px;
    font-size: 50px;
    line-height: 1;
  }

  h2 {
    margin-top: 15px;
    font-size: 30px;
  }

  h3, h4, h5, h6 {
    margin-top: 20px;
    font-size: 20px;
  }

  // Styling rules for the editable content area paragraphs, lists and links.
  p {
    margin-top: 20px;
  }

  ul {
    li {
    }
  }

  ol {
    li {
    }
  }

  a {
    @include color($blue-1);
    &:hover {
      @include color($blue-1, 0.8);
    }
  }

  // Styling rules for the editable content area images, embedded videos, preformatted texts, code examples etc.
  img, iframe {
    max-width: 100%;
  }

  img {
    height: auto;
  }

  pre, code {
    margin-top: 25px;
  }

  pre {
    margin-top: 10px;
    margin-bottom: 0;
    overflow: auto;
    white-space: nowrap;

    &, code {
      padding: 10px;
      font-size: 14px;
      @include bg($grey-3);
    }

    code {
      display: block;
      margin-top: 0;
      padding: 0;
    }
  }

  .edy-texteditor-view {
    min-height: 32px;
  }

  .edy-partial-view {
    margin-top: 25px;
  }
}

