/* GENERAL */
// Styling rules for the basic parts of the page. These rules affect the entire site.
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  @include color($primary-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
 // Layout specific body classes
 .front-page {

 }

 .common-page {

 }

 .blog-page,
 .post-page {

 }

 .blog-page {

 }

 .post-page {

 }

// Pseudo classes for declaring commonly used styling rules for different elements.
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%stretch {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%inline-block {
  display: inline-block;
}

// Styling rules for the independent elements that can be located everywhere in the DOM and always have the same styling rules.
.bgpicker-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.background-color {
  @extend %stretch;
  position: fixed;
  z-index: -2;
}

// Styling rules for the main container that affects the entire site's other elements.
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 20px;
  @include bg($white);

  @include query($tablet-2) {
    padding: 20px
  }

  a {
    text-decoration: none;

    img {
      border: none;
    }
  }
}
