/* HEADER */
// Styling rules for the site's header. These rules affect the entire site.
.header {
  .no-flexbox &,
  .flexbox & {
    @include query($tablet-2) {
      display: block;
    }
  }

  .no-flexbox & {
    display: table;
    vertical-align: top;
    width: 100%;
  }

  .flexbox & {
    @include flexbox;
    @include align-items(flex-start);
  }

  .header-left,
  .header-right {
    .no-flexbox & {
      display: table-cell;
    }

    .flexbox & {
      @include query($tablet-2) {
        @include flex(none);
      }
    }
  }

  .header-left {
    @include query($tablet-2) {
      position: relative;
    }

    .flexbox & {
      @include flex(1 610px);
    }

    .header-title {
      display: none;

      @include query($tablet-2) {
        display: inline-block;
      }

      &,
      & a {
        font-size: 28px;
        font-weight: bold;
        @include color($primary-color);

        &:hover {
          @include color($primary-color, 0.8);
        }
      }
    }
  }

  .header-right {
    min-width: 350px;
    text-align: right;

    @include query($tablet-2) {
      .no-flexbox &,
      .flexbox & {
        display: none;
      }
    }
  }

  .flexbox & {
    @include flex(1 350px);
  }
}
