/* HEADER */
.header {
  @include flexbox;
  @include align-items(center);
  .header-left,
  .header-right {
  }

  .header-left {
    @include flex;

    .header-title {
      display: none;
    }
  }

  .header-right {
    display: inline-block;
    vertical-align: top;
    text-align: right;
  }
}
