/* MENUS */
// Styling rules for the site's menus. These rules affect the entire site.

// Menu button. Only visible on smaller screens.
.menu-btn {
  display: none;

  @include query($tablet-2) {
    position: absolute;
    top: 8px;
    right: 0;
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    &.open {
      .menu-stripe {
        @include bg($secondary-color, 0.47);
      }
    }
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    .menu-stripe {
      display: block;
      width: 23px;
      height: 4px;
      margin: 4px 0;
      @include bg($secondary-color, 0.67);
      border-radius: 5px;
      &:first-child,
      &:last-child {
        margin: 0;
      }
    }
  }

  @include query($mobile-1) {
    top: 7px;
    right: 0;
  }
}

// Wrapper for the CMS adminmode on-page buttons. For example "hidden menu-items" or "add-page" buttons.
.edit-btn {
  @extend %inline-block;
  vertical-align: middle;
  line-height: 0.8;
}

// General rules for the menus. These rules affect all menus on the site.
.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    @extend %inline-block;
  }
}

// Styling rules for the site's main menu. Usually the first level menu but can have the sub menu in it aswell.
.menu-main {
  padding: 6px 0;

  .menu {
    li {
      margin-right: 20px;
      line-height: 1;

      &.edit-btn {
        margin-right: 0;
      }
    }

    a {
      display: block;
      @include color($blue);

      &:hover {
        @include color($primary-color);
      }

      &.active {
        font-weight: bold;
        @include color($primary-color, 0.8);
      }
    }
  }

  .menu-lang {
    display: none;
  }

  @include query($tablet-2) {
    display: none;

    &.expanded {
      position: absolute;
      top: 40px;
      right: 20px;
      display: block;
      min-width: 350px;
      margin: 0 -20px;
      padding: 0;
      text-align: left;
      @include bg($white);
      @include box-shadow(0, 0, 5px, rgba($black, 0.3));

      .menu {
        li {
          display: block;
          margin-right: 0;
          @include border(top, 1px, solid, $primary-color, 0.2);

          &:first-child {
            border-top: none;
          }

          a {
            display: block;
            padding: 11px 20px;
            font-size: 20px;

            &:hover {
              @include bg($blue-2, 0.5);
            }

            &.active {
              @include bg($blue-2);
            }
          }
        }
      }

      // Styling rules for the language menu in the site's main menu. Only visible on smaller screens.
      .menu-lang {
        display: block;
        margin-top: 0;
        @include border(top, 1px, solid, $primary-color, 0.2);

        li {
          a {
            position: relative;
            padding: 15px 20px 15px 50px;
            font-size: 12px;
            @include color($secondary-color);

            &,
            &.active {
              &:hover {
                @include bg($grey-2, 0.1);
              }
            }

            &.active {
              @include color($grey-2);
              background: none;
            }

            &:before {
              @include bg($black);
            }

            &:after {
              opacity: 0.95;
              background-size: 200px;
              background-repeat: no-repeat;
              background-image: url('../images/ico-flags.png');
            }

            &:before,
            &:after {
              position: absolute;
              top: 14px;
              left: 20px;
              display: block;
              width: 20px;
              height: 14px;
              content: '';
            }

            // Language flag iconst positioning in the spritemap.
            // TODO: Recheck the positions.
            &.sq:after {
              background-position: 0 0;
            }

            &.hy:after {
              background-position: -20px 0;
            }

            &.bn:after {
              background-position: -40px 0;
            }

            &.pt:after {
              background-position: -60px 0;
            }

            &.bg:after {
              background-position: -80px 0;
            }

            &.zh:after {
              background-position: -100px 0;
            }

            &.hr:after {
              background-position: -120px 0;
            }

            &.da:after {
              background-position: -140px 0;
            }

            &.cs:after {
              background-position: -160px 0;
            }

            &.et:after {
              background-position: -180px 0;
            }

            &.fi:after {
              background-position: 0 -14px;
            }

            &.fr:after {
              background-position: -20px -14px;
            }

            &.ka:after {
              background-position: -40px -14px;
            }

            &.de:after {
              background-position: -60px -14px;
            }

            &.el:after {
              background-position: -80px -14px;
            }

            &.hu:after {
              background-position: -100px -14px;
            }

            &.is:after {
              background-position: -120px -14px;
            }

            &.hi:after {
              background-position: -140px -14px;
            }

            &.id:after {
              background-position: -160px -14px;
            }

            &.fa:after {
              background-position: -280px -14px;
            }

            &.he:after {
              background-position: 0 -27px;
            }

            &.it:after {
              background-position: -20px -27px;
            }

            &.ja:after {
              background-position: -40px -27px;
            }


            &.ko:after {
              background-position: -60px -27px;
            }

            &.lv:after {
              background-position: -80px -27px;
            }

            &.lt:after {
              background-position: -100px -27px;
            }

            &.ms:after {
              background-position: -120px -27px;
            }

            &.nl:after {
              background-position: -140px -27px;
            }

            &.no:after {
              background-position: -160px -27px;
            }

            &.ur:after {
              background-position: -280px -27px;
            }

            &.fil:after {
              background-position: 0 -40px;
            }

            &.pl:after {
              background-position: -20px -40px;
            }

            &.ro:after {
              background-position: -40px -40px;
            }

            &.ru:after {
              background-position: -60px -40px;
            }

            &.ar:after {
              background-position: -80px -40px;
            }

            &.lt:after {
              background-position: -100px -40px;
            }

            &.sk:after {
              background-position: -120px -40px;
            }

            &.es:after {
              background-position: -140px -40px;
            }

            &.sv:after {
              background-position: -160px -40px;
            }

            &.tr:after {
              background-position: -180px -40px;
            }


            &.uk:after {
              background-position: 0px -53px;
            }

            &.en:after {
              background-position: -20px -53px;
            }
          }
        }
      }
    }
  }

  @include query($mobile-1) {
    &.expanded {
      position: static;
      min-width: 100%;
      margin-top: 20px;
      @include border(top, 1px, solid, $primary-color, 0.2);
      @include border(bottom, 1px, solid, $primary-color, 0.2);
      @include no-box-shadow;
    }
  }
}

// Styling rules for the site's language menu.
.menu-lang {
  @extend %inline-block;

  .menu {
    vertical-align: middle;

    li {
      margin-right: 9px;

      &.edit-btn {
        position: relative;
        top: 1px;
      }
    }
  }

  @include query($tablet-1) {
    margin-top: 5px;
  }

  @include query($tablet-2) {
    display: block;
  }
}

// Styling rules for the site's blog article tags menu. These rules affects both - the blog article listing view and the single blog article view.
.menu-tags {
  margin-bottom: 20px;

  .menu {
    li {
      margin-right: 15px;

      a {
        @include color($blue);

        &:hover {
          @include color($blue, 0.8);
        }

        &.active {
          font-weight: bold;
        }
      }
    }
  }
}
