/* MENUS */
.menu-btn {
  display: none;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
}

.menu-main {
  li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
    line-height: 1;

    &.mobile-lang {
      display: none;
    }
  }

  a {
    display: block;
    @include color($blue);

    &:hover {
      @include color($primary-color);
    }

    &.active {
      font-weight: bold;
      @include color($primary-color, 0.8);
    }
  }

}

.menu-lang {
  display: inline-block;

  li {
    display: inline-block;
    margin-right: 9px;
  }
}
