/* SEARCH */
.search,
.search-left,
.search-right {
  display: inline-block;
}

.search-left {
  .edys-search-input {
    width: 128px;
    padding: 7px 10px;
    font-family: inherit;
    font-size: 14px;
    @include color($primary-color);
    border: 1px solid #8d9091;
    border-radius: 3px;
  }
}

.search-right {
  .search-submit {
    vertical-align: middle;
  }
}
