/* TABLES */
// Styling rules for the site's editable content area tables.
// NB! Works only if editable content-area - {% content %} -  is wrapped into the element that has the "content-formatted" class.

.content-formatted {
  // Container around editable content-area table.
  .table-container {
    margin-top: 20px;
  }

  // Overthrow plugin to support horizontal scrolling on older devices that have touch-screens. For example Android 2.3 devices.
  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  // Adds dashed border to indicate that the table is too wide and can be scrolled horizontally.
  .horizontal-scroll {
    @include border(left,1px,dashed,$third-color);
    @include border(right,1px,dashed,$third-color);
  }

  table {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    border-collapse: collapse;

    td {
      padding: 10px;
      @include border(top,1px,solid,$third-color);
      @include border(bottom,1px,solid,$third-color);
    }
  }
}
