// VARIABLES
// General colors
$primary-color: #727272;
$secondary-color: #1b2124;;
$third-color: #303132;

// Specific colors
$black: #000;
$white: #fff;

$red: #C00;
$green: #60a740;
$blue: #06b;

$grey: #787878;

$code-bg: #fafafa;

// Media queries
$tablet-1: 999px;
$tablet-2: 752px;
$tablet-3: 506px;

$mobile-1: 480px;
$mobile-2: 420px;
