// VARIABLES
// General colors
$primary-color: #c2c2c2;
$secondary-color: #ff0000;
$third-color: #303132;

$primary-bg: #333;
$secondary-bg: #eee;

// Specific colors
$link-active-color: #303132;
$link-active-mobile-color: #838586;

$code-bg: #fafafa;
$link-active-mobile-bg: #c7e5ff;

// General colors
$black: #000;
$white: #fff;

$red: #C00;
$green: #60a740;
$blue: #06b;

$grey: #787878;

// Other values
$search-height: 24px;

// Media queries
$tablet-1: 999px;
$tablet-2: 752px;
$tablet-3: 506px;

$mobile-1: 480px;
$mobile-2: 420px;
