/*
Syntax error: File to import not found or unreadable: bourbon/bourbon.
              Load paths:
                /Users/kaspar/Sites/voog/design-pripyat (DEPRECATED)
                /Users/kaspar/Sites/voog/design-pripyat/stylesheets/sass
        on line 5 of stylesheets/sass/ie8.scss

1: // IE8 FALLBACKS
2: // Stylesheet to declare fallbacks for the CSS features that are not supported by the Internet Explorer 8 browser.
3: // Use the same selectorss pattern as in the othes style partials.
4: // Remove the "ie8.scss" file in the "sass" folder and remove the "ie8.css" from the "/stylesheets" directory if not used. Also delete the stylesheet link from the "html-head" component.
5: @import 'bourbon/bourbon';
6: @import '_mixins';
7: 
8: // MENUS
9: 
10: // GENERAL

Backtrace:
stylesheets/sass/ie8.scss:5
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/import_node.rb:45:in `import'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:283:in `visit_import'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/stack.rb:79:in `block in with_base'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/stack.rb:121:in `with_frame'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/stack.rb:79:in `with_base'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/tree/root_node.rb:20:in `render'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/engine.rb:274:in `render'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `each'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/sass-3.3.7/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/listen-2.7.5/lib/listen/listener.rb:159:in `call'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/listen-2.7.5/lib/listen/listener.rb:159:in `block in _wait_for_changes'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/listen-2.7.5/lib/listen/listener.rb:148:in `loop'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/listen-2.7.5/lib/listen/listener.rb:148:in `_wait_for_changes'
/Users/kaspar/.rbenv/versions/2.1.1/lib/ruby/gems/2.1.0/gems/listen-2.7.5/lib/listen/listener.rb:41:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bourbon/bourbon.\A               Load paths:\A                 /Users/kaspar/Sites/voog/design-pripyat (DEPRECATED)\A                 /Users/kaspar/Sites/voog/design-pripyat/stylesheets/sass\A         on line 5 of stylesheets/sass/ie8.scss\A \A 1: // IE8 FALLBACKS\A 2: // Stylesheet to declare fallbacks for the CSS features that are not supported by the Internet Explorer 8 browser.\A 3: // Use the same selectorss pattern as in the othes style partials.\A 4: // Remove the \"ie8.scss\" file in the \"sass\" folder and remove the \"ie8.css\" from the \"/stylesheets\" directory if not used. Also delete the stylesheet link from the \"html-head\" component.\A 5: @import 'bourbon/bourbon';\A 6: @import '_mixins';\A 7: \A 8: // MENUS\A 9: \A 10: // GENERAL"; }
