@charset "UTF-8";
/* MAIN STYLESHEET */
body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: rgba(0, 0, 0, 0.55);
}

.site-container a {
  text-decoration: none;
  color: #0066bb;
}
.site-container a img {
  border-style: none;
}

.wrap {
  margin-right: auto;
  margin-left: auto;
}
.site-container .wrap {
  max-width: 960px;
  padding: 40px 20px;
}

.page-content {
  margin-bottom: 30px;
}

.common-page .content-header {
  margin-top: 25px;
  margin-bottom: 25px;
}

.menu  {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.menu  li:hover a {
  color: rgba(0, 0, 0, 0.8);
}
.menu  li.current a {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.55);
}

@media screen and (min-width: 641px) {
  .menu-horizontal.menu-cms li {
    margin-right: 15px;
  }
}
@media screen and (min-width: 641px) {
  .menu-horizontal li {
    display: inline-block;
  }
}
.menu-horizontal li:last-child {
  margin-right: 0;
}

.menu-vertical li,
.menu-vertical li a {
  display: block;
}

.menu-popover {
  position: absolute;
  display: none;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.menu-options button {
  margin: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.menu-options button:focus {
  outline: none;
}
.menu-options button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.menu-main {
  margin-top: 20px;
}

.scheme-light .edy-empty-bordered {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}
.scheme-light .placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.scheme-light .edy-content-element-hover {
  border-color: rgba(255, 255, 255, 0.2);
}
.scheme-light .edy-texteditor-active {
  outline-color: rgba(255, 255, 255, 0.4);
}
.scheme-light .edy-texteditor-active:hover {
  outline-color: rgba(255, 255, 255, 0.63);
}

.site-header {
  margin-bottom: 70px;
}
.site-header .header-top {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
}
.site-header .header-top .site-options {
  margin-top: 20px;
  margin-bottom: 20px;
}
.site-header .header-bottom {
  margin-top: 50px;
}

.site-search {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.site-search .search-input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 128px;
  padding: 4px 5px 3px;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.53);
  border-radius: 3px;
}
.site-search .search-submit {
  position: relative;
  top: -1px;
}

.voog-search-modal {
  margin-top: 20px;
}

@media screen and (min-width: 641px) {
  .menu-level-1 li {
    margin-right: 20px;
  }
}

@media screen and (min-width: 641px) {
  .menu-level-2 li {
    margin-right: 10px;
  }
}
.menu-level-2 li a {
  font-size: 14px;
}

@media screen and (min-width: 641px) {
  .menu-language {
    display: inline-block;
  }
}
@media screen and (min-width: 641px) {
  .menu-language li {
    margin-right: 5px;
  }
}
@media screen and (min-width: 641px) {
  .menu-language li a {
    font-size: 10px;
  }
}

.site-footer {
  padding-top: 30px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, 0.53);
  font-size: 14px;
}
.site-footer .voog-reference {
  color: black;
  opacity: .55;
}
.site-footer .voog-reference:hover {
  opacity: .8;
}

.content-area {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
.content-area::after {
  clear: both;
  content: "";
  display: table;
}
.content-area h1:first-child,
.content-area h2:first-child,
.content-area h3:first-child,
.content-area h4:first-child,
.content-area h5:first-child,
.content-area h6:first-child,
.content-area p:first-child,
.content-area ul:first-child,
.content-area ol:first-child,
.content-area dl:first-child,
.content-area table:first-child,
.content-area pre:first-child,
.content-area code:first-child,
.content-area iframe:first-child,
.content-area table:first-child,
.content-area form:first-child,
.content-area .edy-positionable-container-left-block:first-child,
.content-area .edy-positionable-container-center-block:first-child,
.content-area .edy-positionable-container-right-block:first-child,
.content-area .edy-texteditor-container-wrapper-left-block:first-child,
.content-area .edy-texteditor-container-wrapper-center:first-child,
.content-area .edy-texteditor-container-wrapper-right-block:first-child {
  margin-top: 0;
}
.content-area h1:last-child,
.content-area h2:last-child,
.content-area h3:last-child,
.content-area h4:last-child,
.content-area h5:last-child,
.content-area h6:last-child,
.content-area p:last-child,
.content-area ul:last-child,
.content-area ol:last-child,
.content-area dl:last-child,
.content-area table:last-child,
.content-area pre:last-child,
.content-area code:last-child,
.content-area iframe:last-child,
.content-area table:last-child,
.content-area form:last-child,
.content-area .edy-positionable-container-left-block:last-child,
.content-area .edy-positionable-container-center-block:last-child,
.content-area .edy-positionable-container-right-block:last-child,
.content-area .edy-texteditor-container-wrapper-left-block:last-child,
.content-area .edy-texteditor-container-wrapper-center:last-child,
.content-area .edy-texteditor-container-wrapper-right-block:last-child {
  margin-bottom: 0;
}
.content-area h1,
.content-area h2,
.content-area h3,
.content-area h4,
.content-area h5,
.content-area h6,
.content-area b,
.content-area strong {
  color: #1b2124;
}
.content-area h1,
.content-area h2,
.content-area h3,
.content-area h4,
.content-area h5,
.content-area h6 {
  line-height: 1.5;
}
.content-area h1 {
  font-size: 36px;
}
.content-area h2 {
  font-size: 24px;
}
.content-area h3 {
  font-size: 18px;
  font-style: italic;
}
.content-area a:hover {
  opacity: .8;
}
.content-area pre,
.content-area code {
  padding: 10px;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.02);
}
.content-area pre {
  overflow: auto;
}
.content-area pre code {
  display: inline;
  padding: 0;
  white-space: pre;
  line-height: inherit;
  background-color: transparent;
}
.content-area code {
  display: inline-block;
  vertical-align: middle;
  overflow: auto;
  box-sizing: border-box;
  max-width: 100%;
}
.content-area iframe {
  max-width: 100%;
}
.content-area .edy-positionable-container-center,
.content-area .edy-positionable-container-left-block,
.content-area .edy-positionable-container-right-block,
.content-area .edy-texteditor-container-wrapper-center,
.content-area .edy-texteditor-container-wrapper-left-block,
.content-area .edy-texteditor-container-wrapper-right-block {
  margin-top: 45px;
  margin-bottom: 45px;
}
.content-area .edy-positionable-container-left,
.content-area .edy-texteditor-container-wrapper-left {
  margin-right: 20px;
}
.content-area .edy-positionable-container-right,
.content-area .edy-texteditor-container-wrapper-right {
  margin-left: 20px;
}
.content-area .edy-image-container-with-title:after {
  display: block;
  padding: 4px;
  font-size: 12px;
  line-height: 1.3;
  content: attr(data-title);
}

.content-area .form_fields {
  margin-top: 20px;
}
.content-area .form_field {
  margin-top: 10px;
}
.content-area .form_field:first-child {
  margin-top: 0;
}
.content-area .form_field label,
.content-area .form_field .form_field_label {
  display: block;
  font-size: 14px;
}
.content-area .form_field .form_field_label {
  font-weight: 700;
}
.content-area .form_field_required .form_field_label:after {
  content: '* \a';
}
.content-area .form_field_textfield,
.content-area .form_field_textarea,
.content-area .form_field_select {
  max-width: 100%;
  box-sizing: border-box;
}
.content-area .form_field_textfield,
.content-area .form_field_textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.53);
  border-radius: 3px;
}
.content-area .form_field_textfield.form_field_size_small,
.content-area .form_field_textarea.form_field_size_small {
  width: 280px;
}
.content-area .form_field_textfield.form_field_size_medium,
.content-area .form_field_textarea.form_field_size_medium {
  width: 420px;
}
.content-area .form_field_textfield.form_field_size_large,
.content-area .form_field_textarea.form_field_size_large {
  width: 580px;
}
.content-area .form_field_select.form_field_size_small {
  min-width: auto;
}
.content-area .form_field_select.form_field_size_medium {
  min-width: 124px;
}
.content-area .form_field_select.form_field_size_large {
  min-width: 184px;
}
.content-area .form_submit {
  margin-top: 10px;
}
.content-area .form_error,
.content-area .form_field_error {
  color: #cc0000;
}
.content-area .form_field_error {
  font-size: 14px;
}
.content-area .form_notice {
  color: #60a740;
}
