/* GENERAL */
.cfx:after {
	content: "";
	display: table;
	clear: both;
}

body {
	margin: 0;
	padding: 0;
	font: 400 18px/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #727272;
}
.site-content {
	max-width: 920px;
	margin: 27px auto;
	padding: 0 20px;
}
.site-content a {
	text-decoration: none;
	color: #06b;
}
.site-content a:hover {
	color: #7da3d3;
}
.site-content a img {
	border: none;
}
.site-content img {
	max-width: 100%;
	height: auto;
}
.site-content pre {
	overflow: auto;
	padding: 1rem;
	background: #fafafa;
}

/* HEADER */
.site-header {
	display: table;
	width: 100%;
	margin-bottom: 69px;
}
.header-left, .header-right {
	display: table-cell;
	vertical-align: top;
}
.header-left {
	max-width: 490px;
}
.header-right {
	text-align: right;
}

/* MAIN MENU */
.menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
.horizontal li {
	float: left;
	margin-right: 14px;
}
.horizontal li a {
	display: block;
}
.horizontal li.active a {
	font-weight: 700;
	color: #727272;
}

/* SEARCH */
.site-search {
	display: inline-block;
}
.edys-search-input {
	width: 150px;
	padding: 10px;
	border: 1px solid #8d9091;
	border-radius: 3px;
}

/* LANGUAGE MENU */
.lang-menu {
	display: inline-block;
}

/* CONTENT AREA */
.page-content {
	margin-bottom: 54px;
}
.page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
	color: #1b2124;
}
.page-content h1 {
	margin: 0 0 13px;
	font-size: 100px;
	line-height: 1;
}
.page-content h2 {
	margin: 0 0 89px;
	font-size: 50px;
	font-weight: 400;
	line-height: 1;
}
.page-content h3, .page-content h4, .page-content h5, .page-content h6 {
	margin: 0 0 17px;
	font-size: 25px;
}
.page-content p {
	margin: 0 0 17px;
}
.page-content p:last-child {
	margin: 0;
}

/* GALLERY */
.edys-gallery-item {
	float: left;
	padding-right: 0 !important;
}
.edys-gallery-image {
	display: block;
	width: 140px;
}
.edys-gallery-area:hover img {
	opacity: 0.6;
}
.edys-gallery-area img:hover {
	opacity: 1;
}

/* FOOTER AREA */
.site-footer {
	font-size: 14px;
}

/* TABLET VIEW */
@media screen and (max-width: 900px) {
	.site-search {
		display: none;
	}
}

/* MOBILE VIEW */
@media screen and (max-width: 900px) {

}