/* Reset */
*:not([class*="edy-"]), *:not([class*="edy-"]):before, *:not([class*="edy-"]):after {
	-webkit-box-sizing: border-box;	-moz-box-sizing: border-box; box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.cfx:after {
	content: "";
	display: table;
	clear: both;
}

html, body, h1, h2, h3, h4, h5, h6, p, input, textarea, button, .menu {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Displaying */
.something { display: inline; }
.horizontal li, .site-header-left, .site-header-right, .main-menu, .search-area, .lang-menu, .lang-btn { display: inline-block; }
.element img, .menu li a, .flags a { display: block; }
.lang-menu-popover, .menu-btn, .main-menu .menu .mobile-lang { display: none; }

.lang-menu-popover, .flags a:after { position: absolute; }
.flags a { position: relative; }
.something { position: static; }

.something { vertical-align: bottom; }
input, select, .site-header-left, .site-header-right, .main-menu, .search-area,
	.lang-menu, .horizontal li, .menu-btn { vertical-align: middle; }
.something { vertical-align: top; }

.something { float: left; }
.something { float: right; }
.something { float: none; }

.something { text-align: left; }
.flags { text-align: right; }
.something { text-align: center; }
.something { text-align: justify; }

/* Remove flicker bug from animamated elements in Safari */
.something {
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

/* Colors */
body { color: #333; color: rgba(51,51,51,1) }
h1, h2, h3, h4, h5, h6, .header-logo a { color: #1b2124; color: rgba(27,33,36,1); }
.header-logo a:hover { color: #494d50; color: rgba(27,33,36,0.8); }
a { color: #0066bb; color: rgba(0,102,187,1); }
a:hover { color: #3385c9; color: rgba(0,102,187,0.8); }

/* Backgrounds */
body { background: #f3f3f3; background: rgba(243,243,243,1); }
pre { background: #fafafa; background: rgba(250,250,250,1); }
.menu-stripe { background: #666a6c; background: rgba(27,33,36,0.67); }
.menu-btn:hover .menu-stripe { background: #a4a6a7; background: rgba(27,33,36,0.4); }

/* General */
html { font-size: 62.5%; }
body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size:  16px; font-size:  1.6rem;
	font-weight: 400;
	line-height: 1.3;
}

h1 { font-size: 36px; font-size: 3.6rem; }
h2 { font-size: 24px; font-size: 2.4rem; }
h3, h4, h5, h6 { font-size: 20px; font-size: 2rem; }

a {	text-decoration: none; }
a img {	border: none; }
a img:hover { opacity: 0.8; }

pre {
	overflow: auto;
	padding: 10px; padding: 1rem;
	word-wrap: normal;
}

img {
	max-width: 100%;
	height: auto;
}

input, textarea, select, button {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 100%;
}
input[type="submit"], button { cursor: pointer; }

.site-content {
	margin: 0 auto;
	max-width: 1040px; max-width: 104rem;
}

.site-header-left, .page-content, .site-footer { padding: 0 20px; padding: 0 2rem; }

/* Menus */
.menu {
	line-height: 1;
	list-style: none;
}
.menu .active a { font-weight: 600; }

.menu-btn {
	cursor: pointer;
	width: 25px; width: 2.5rem;
}
.menu-stripe {
		border-radius: 5px;
		height: 4px; height: 0.4rem;
		margin: 4px 0; margin: 0.4rem 0;
		width: 100%;
}
.menu-stripe:first-child { margin: 0 0 4px; margin: 0 0 0.4rem; }
.menu-stripe:last-child { margin: 4px 0 0; margin: 0.4rem 0 0; }

.flags a:after {
  background: url("../images/flags-sprite.png") no-repeat;
	content: "";
	height: 13px;
	right: -27px; right: -2.7rem;
  top: 2px; top: 0.2rem;
	width: 20px;
}

.flags .sq:after { background-position: 0 0; }/*Albanian*/
.flags .hy:after { background-position: -20px 0; }/*Armenia*/
.flags .bn:after { background-position: -40px 0; }/*Bangladesh*/
.flags .pt:after { background-position: -60px 0; }/*Brazil*/
.flags .bg:after { background-position: -80px 0; }/*Bulgaria*/
.flags .zh:after { background-position: -100px 0; }/*China*/
.flags .hr:after { background-position: -120px 0; }/*Croatia*/
.flags .da:after { background-position: -140px 0; }/*Denmark*/
.flags .cs:after { background-position: -160px 0; }/*Czech Republic*/
.flags .et:after { background-position: -180px 0; }/*Estonia*/

.flags .fi:after { background-position: 0 -14px; }/*Finland*/
.flags .fr:after { background-position: -20px -14px; }/*France*/
.flags .ka:after { background-position: -40px -14px; }/*Georgia*/
.flags .de:after { background-position: -60px -14px; }/*Germany*/
.flags .el:after { background-position: -80px -14px; }/*Grecee*/
.flags .hu:after { background-position: -100px -14px; }/*Hungary*/
.flags .is:after { background-position: -120px -14px; }/*Iceland*/
.flags .hi:after { background-position: -140px -14px; }/*India*/
.flags .id:after { background-position: -160px -14px; }/*Indonesia*/
.flags .fa:after { background-position: -280px -14px; }/*Iran*/

.flags .he:after { background-position: 0 -27px; }/*Israel*/
.flags .it:after { background-position: -20px -27px; }/*Italy*/
.flags .ja:after { background-position: -40px -27px; }/*Japan*/
.flags .ko:after { background-position: -60px -27px; }/*Korea, South*/
.flags .lv:after { background-position: -80px -27px; }/*Latvia*/
.flags .lt:after { background-position: -100px -27px; }/*Lithuania*/
.flags .ms:after { background-position: -120px -27px; }/*Malaysia*/
.flags .nl:after { background-position: -140px -27px; }/*Netherlands*/
.flags .no:after { background-position: -160px -27px; }/*Norway*/
.flags .ur:after { background-position: -280px -27px; }/*Pakistan*/

.flags .fil:after { background-position: 0 -41px; }/*Philipines*/ /*tl?*/
.flags .pl:after { background-position: -20px -41px; }/*Poland*/
.flags .ro:after { background-position: -40px -41px; }/*Romania*/
.flags .ru:after { background-position: -60px -41px; }/*Russia*/
.flags .ar:after { background-position: -80px -41px; }/*Saudi Arabia*/
.flags .lt:after { background-position: -100px -41px; }/*Slovakia*/
.flags .sk:after { background-position: -120px -41px; }/*Slovenia*/
.flags .es:after { background-position: -140px -41px; }/*Spain*/
.flags .sv:after { background-position: -160px -41px; }/*Sweden*/
.flags .tr:after { background-position: -180px -41px; }/*Turkey*/

.flags .uk:after { background-position: 0px -54px; }/*Ukraine*/
.flags .en:after { background-position: -20px -54px; }/*USA*/

/* Content */
.page-content p {	margin-bottom: 10px; margin-bottom: 1rem; }
.page-content { padding: 0 2rem; padding: 0 20px; }

@media screen and (max-width: 480px) {
	/* Displaying */
	.menu-btn { display: inline-block; }
	.site-header-left, .site-header-right, .main-menu ul li, .main-menu .menu .mobile-lang { display: block; }
	.search-area, .lang-menu, .main-menu { display: none; }

	.flags { text-align: left; }

	/* Backgrounds */
	.main-menu ul li a:hover { background: #a4a6a7; background: rgba(164,166,167,1); }

	/* Menus */
	.menu-btn { margin-left: 20px; margin-left: 2rem; }
	.main-menu ul li a { padding: 10px 20px; padding: 1rem 2rem; }
	.main-menu ul .mobile-lang a { padding: 10px 20px 10px 50px; padding: 1rem 2rem 1rem 5rem; }

	.mobile-lang a:after {
	left: 2px; left: 2rem;
	right: auto;
	top: 12px; top: 1.2rem;
	}
}