/* NAVIGATION MENUS*/
// Base
.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  li {
    display: inline-block;
  }

  a {
    display: block;
    text-decoration: none;
    border: nonse;
  }
}

// Main menu
.menu-main {
  @extend %left;

  li {
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      a {
        color: rgba($black,.8);
      }
    }

    &.is-active {
      a {
        font-weight: 700;
        color: rgba($black,.55);
      }
    }

    &.is-untranslated {
      &:hover {

      }
    }

  }
}

// Language menu
.menu-language {
  @extend %right;
}
