/* NAVIGATION MENUS*/
// Base
.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  li {
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      a {
        color: rgba($black,.8);
      }
    }

    &.is-active {
      a {
        font-weight: 700;
        color: rgba($black,.55);
      }
    }

    a {
      display: block;
      border: none;
    }
  }
}

// Main menu
.menu-main {
  @extend %left;
  margin-bottom: 15px;

  li {
    margin-right: 20px;
  }
}

// Sub menu
.menu-sub {
  li {
    margin-right: 10px;
  }
}

// Language menu
.menu-language {
  @extend %right;

  li {
    margin-right: 5px;

    a {
      font-size: 10px;
    }
  }
}
