// VARIABLES
// Global variables to use in every .scss files.
// Comment out the "_variables.scss" partial in the "main.scss" file if not used.

// Basic colors.
$black: #000000;
$white: #ffffff;

// Specific colors.
$highlight-color: #1b2124;
$link-color: #0066bb;
$error-color: #cc0000;
$success-color: #60a740;

// Font sizes.
$base-font-size: 18px;

// Line heights.
$base-line-height: 1.5em;

// Media query breakpoints.
$tablet-1: 1024px;
$tablet-2: 768px;
$tablet-3: 640px;
$mobile-1: 480px;
$mobile-2: 320px;
