// VARIABLES
// Global variables to use in every .scss files.
// Comment out the "_variables.scss" partial in the "main.scss" file if not used.

// Basic colors
$black: #000000;
$white: #ffffff;
$blue: #009ad3;
$grey: #2e2e2e;
$yellow: #f1be26;
$orange: #cc4400;
$red: #CC0000;
$green: #60a740;

// Paddings
$primary-vertical-padding: 25px;
$primary-horizontal-padding: 20px;

// Font sizes
$base-font-size: 16px;

// Line heights
$base-line-height: 1.3em;

// Media query breakpoints
$tablet-big: 1024px;
$tablet-middle: 768px;
$tablet-small: 640px;
$mobile-big: 480px;
$mobile-small: 320px;
