.bg_img-contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bg_img-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg_color-absolute {
  position: absolute;
  height: 100%;
  width: 100%;
}
