.content-area {
  .form_fields {
    margin-top: 20px;
  }

  .form_field {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }

    label,
    .form_field_label {
      display: block;
      font-size: 14px;
    }

    .form_field_label {
      font-weight: 700;
    }
  }

  .form_field_required {
    .form_field_label:after {
      content: '* \a';
    }
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select {
    max-width: 100%;
    box-sizing: border-box;
  }

  .form_field_textfield,
  .form_field_textarea {
    @include input-ios-reset;
    @include inherit-font;
    padding: 7px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba($color-black, .53);
    border-radius: 3px;

    &.form_field_size_small {
      width: 280px;
    }

    &.form_field_size_medium {
      width: 420px;
    }

    &.form_field_size_large {
      width: 580px;
    }
  }

  .form_field_select {
    &.form_field_size_small {
      min-width: auto;
    }

    &.form_field_size_medium {
      min-width: 124px;
    }

    &.form_field_size_large {
      min-width: 184px;
    }
  }

  .form_submit {
    margin-top: 10px;

    input {

      &:hover {

      }
    }
  }

  .form_error,
  .form_field_error {
    color: rgba($color-error, 1);
  }

  .form_field_error {
    font-size: 14px;
  }

  .form_notice {
    color: rgba($color-success, 1);
  }
}
