.content-area {
  @include clearfix;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl,
  table,
  pre,
  code,
  iframe,
  table,
  form,
  .edy-positionable-container-left-block,
  .edy-positionable-container-center-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-right-block {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong {
    color: rgba($color-highlight, 1);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.5;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
    font-style: italic;
  }

  a {
    &:hover {
      opacity: .8;
    }
  }

  pre,
  code,
  iframe,
  table,
  form {
    // @extend %hyphens-false;
  }

  pre,
  code {
    padding: 10px;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    background-color: rgba($color-black, .02);
  }

  pre {
    overflow: auto;

    code {
      display: inline;
      padding: 0;
      white-space: pre;
      line-height: inherit;
      background-color: transparent;
    }
  }

  code {
    display: inline-block;
    vertical-align: middle;
    overflow: auto;
    box-sizing: border-box;
    max-width: 100%;
  }

  iframe {
    max-width: 100%;
  }

  .edy-positionable-container-center,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-texteditor-container-wrapper-center,
  .edy-texteditor-container-wrapper-left-block,
  .edy-texteditor-container-wrapper-right-block {
    $block-image-margin: 45px;

    margin-top: $block-image-margin;
    margin-bottom: $block-image-margin;
  }

  // Styles for images that are as large as the content area.
  // .edy-positionable-container-maxwidth {
  //   width: auto !important;
  //   max-width: none !important;
  //   margin-right: -200px !important;
  //   margin-left: -200px !important;
  // }

  $floating-image-margin: 20px;

  .edy-positionable-container-left,
  .edy-texteditor-container-wrapper-left {
    margin-right: $floating-image-margin;
  }

  .edy-positionable-container-right,
  .edy-texteditor-container-wrapper-right {
    margin-left: $floating-image-margin;
  }

  // Image title styles.
  .edy-image-container-with-title:after {
    display: block;
    padding: 4px;
    font-size: 12px;
    line-height: 1.3;
    content: attr(data-title);
  }
}
