.content-area {
  @extend %clearfix;
  @extend %hyphens-true;
  line-height: $base-line-height;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  pre,
  code,
  .edy-positionable-container-left-block,
  .edy-positionable-container-right-block,
  .edy-positionable-container-center-block {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  b,
  strong {
    color: rgba($highlight-color, 1);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: $base-line-height;
  }

  h1 {
    font-size: 30px;
  }

  a {

    &:hover {
      opacity: .8;
    }
  }

  iframe {
    max-width: 100%;
  }

  $floating-image-margin: 10px;

  .edy-positionable-container-left {
    margin-right: $floating-image-margin;
  }

  .edy-positionable-container-right {
    margin-left: $floating-image-margin;
  }
}
