.product-content {
  width: 100%;
  display: flex;
  flex-direction: column;

  & .flex_row-2--item-60,
  & .flex_row-2--item-40 {
    max-width: 100%;
  }

  @media screen and (min-width: $tablet-2) {
    .flex_row-2--item-40 > .flex_col {
      position: sticky;
      top: 104px;
      z-index: $zindex-ca-interaction-button + 1;
    }
  }

  .edy-buy-button-container {
    margin: 24px 0;
  }

  .without-images .item-top {
    background-image: url('../assets/ico-placeholder.svg');
    background-color: #F2F2F2;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.product-description {
  margin-bottom: 24px;
}

.product-price {
  padding: 8px 0 24px 0;

  .product-price-original {
    display: inline-block;
    padding-right: 4px;
    opacity: .4;
  }

  .product-price-final {
    display: inline-block;
  }
}

.dark-background {
  .edy-product-widget-filter-sort,
  .edy-product-widget-filter-search-input {
    opacity: .7;
  }

  .edy-product-widget-filter-label {
    opacity: .5;
  }
}
