%large-text {
  font-size: 100px;
  font-weight: 700;
  line-height: 1.3em;
}

%medium-text {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.3em;
}

%normal-text {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5em;
}

.front-page {
  .site-header {
    margin-bottom: 70px;
  }

  .page-content {
    margin-bottom: 50px;

    h1 {
      @extend %large-text;
    }

    h2 {
      @extend %medium-text;
    }

    h3 {
      font-size: 30px;
    }

    p {
      @extend %normal-text;
    }

    .content-header {
      @extend %large-text;
      margin-bottom: 10px;
      color: rgba($highlight-color, 1);
    }

    .content-slogan {
      @extend %medium-text;
      margin-bottom: 80px;
      color: rgba($highlight-color, 1);
    }

    .content-area {
      @extend %normal-text;
    }
  }
}
