.product_ {
  &item {
    &-wrap {
      .product_item-title,
      .product_item-btn,
      .product_item-price,
      .product_item-box--label {
        color: var(--product-list-item__color);
        font-size: var(--product-list-item__font-size);
        line-height: calc(var(--product-list-item__font-size) * 1.5 + 1px);
        word-break: break-word;

        .dark-background & {
          color: $white;
        }
      }

      .item-top {
        border-radius: var(--product-list-item__image-radius);
      }

      .product_item-btn {
        white-space: nowrap;
        opacity: 0;
        transform: translateY(100%);
        pointer-events: none;
        top: 0;
        @include transition(all 300ms);
      }

      .product_item-price {
        transform: translateY(0px);
        pointer-events: all;
        top: 0;
        margin: 0;
        opacity: 1;
        @include transition(all 300ms);
        display: flex;
        flex-wrap: wrap;
        color: var(--secondary-color);
      }

      .product_item-title {
        text-align: var(--product-list-item__alignment);
      }

      &:hover {
        .product_image,
        .item-top,
        .product_item-title {
          @include transition(opacity 400ms);
          opacity: .7;
        }

        .product_item-price {
          transform: translateY(-100%);
          opacity: 0;
          pointer-events: none;
          @include transition(all 300ms);
        }

        .product_item-btn {
          transform: translateY(0px);
          opacity: 1;
          pointer-events: all;
          @include transition(all 300ms);
        }
      }
    }

    &-details {
      position: relative;
      overflow: hidden;
      text-align: var(--product-list-item__alignment);

      &--wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
    }

    &-btn {
      cursor: pointer;
      font-weight: 600;
      @extend %button;

      &:hover {
        opacity: .7;
      }
    }

    &-box--label {
      padding: 2px 8px;
      border: 1px solid;
      display: inline-flex;
      box-sizing: border-box;
      white-space: nowrap;
    }
  }

  &alt-attr {
    display: none;

    .with-image & {
      display: block;
    }
  }
}