.product_ {
  &item {
    &-wrap {
      .product_item-title,
      .product_item-btn,
      .product_item-price {
        color: var(--primary-color);
        font-size: 18px;
        line-height: 1.3;
        word-break: break-word;

        .dark-background & {
          color: $white;
        }
      }

      .product_item-btn {
        white-space: nowrap;
        opacity: 0;
        transform: translateY(100%);
        pointer-events: none;
        top: 0;
        @include transition(all 300ms);
      }

      .product_item-price {
        transform: translateY(0px);
        pointer-events: all;
        top: 0;
        margin: 0;
        opacity: 1;
        @include transition(all 300ms);
        display: flex;
        flex-wrap: wrap;
        color: var(--secondary-color);
      }

      &:hover {
        .product_image,
        .item-top,
        .product_item-title {
          @include transition(opacity 400ms);
          opacity: .7;
        }

        .product_item-price {
          transform: translateY(-100%);
          opacity: 0;
          pointer-events: none;
          @include transition(all 300ms);
        }

        .product_item-btn {
          transform: translateY(0px);
          opacity: 1;
          pointer-events: all;
          @include transition(all 300ms);
        }
      }
    }

    &-details {
      position: relative;
      overflow: hidden;
      
      a {
        color: var(--primary-color);
      }
      &--wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
    }

    &-btn {
      cursor: pointer;
      @extend %button;

      &:hover {
        opacity: .7;
      }
    }
  }

  &alt-attr {
    display: none;

    .with-image & {
      display: block;
    }
  }
}