.content-formatted {
  .form_field {

    &:first-child {

    }

    label {
      display: block;
    }
  }

  .form_field_required {
    .form_field_label:after {
      content: ' * \a';
    }
  }

  .form_field_textfield,
  .form_field_textarea,
  .form_field_select {
    box-sizing: border-box;
  }

  .form_field_textfield,
  .form_field_textarea {
    width: 100%;
    @extend %inherit-base-font;
    @extend %input-ios-reset;
  }

  .form_field_size_medium {

  }

  .form_field_size_large {
  }

  .form_submit {
    input {
      @extend %input-ios-reset;
      cursor: pointer;

      &:hover {

      }
    }
  }

  .form_error,
  .form_notice {

  }

  .form_error {

  }

  .form_notice {

  }

  .form_field_error {

  }
}
